<div ng-controller="StationController as stationController">
    <table class="inlineTable">
        <thead>
        <tr>
            <th>Departures:<input type="text" ng-model="criteria.departuresCriteria"/>
                <button ng-click="stationController.findDepartures()">Search</button>
            </th>
        </tr>
        </thead>
        <tr ng-repeat="station in departures">
            <td>
                <div>
                    <a href="" ng-click="stationController.setDeparture(station)">{{station.name}}</a>
                </div>
            </td>
        </tr>
    </table>
    <table class="inlineTable">
        <thead>
        <tr>
            <th>Arrivals:<input type="text" ng-model="criteria.arrivalsCriteria"/>
                <button ng-click="stationController.findArrivals()">Search</button>
            </th>
        </tr>
        </thead>

        <tr ng-repeat="station in arrivals">
            <td>
                <div>
                    <a href="" ng-click="stationController.setArrival(station)">{{station.name}}</a>
                </div>
            </td>
        </tr>
    </table>
</div>

<div ng-controller="RouteController as routeController">
    Date: <input calendar ng-model='bookingRequest.date'/><br/>
    Start: {{bookingRequest.from.name}}<br/>
    Destination: {{bookingRequest.to.name}}<br/>
    Email to notify: <input type="text" ng-model="bookingRequest.email"/><br/>
    <button ng-click="routeController.booking()">Book Tickets</button><br/>

    <br/>
    <div ng-repeat="passenger in bookingRequest.passengers" style="float:left;">
        <div style="float:left;">
            <label>{{$index + 1}}. First name:</label>
            <input type="text" ng-model="passenger.firstName"/>
        </div>
        <div style="float:left;">
            <label>Last name:</label>
            <input type="text" ng-model="passenger.lastName"/>
        </div>
    </div>

</div>